<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
    <title>Carlos One</title>
    <link rel="stylesheet" asp-href-include="~/dist/vendor*.css" />
    <link rel="stylesheet" asp-href-include="~/dist/site*.css" />
</head>
<body>
    @RenderBody()
    <script asp-src-include="~/dist/runtime*.js"></script>
    <script asp-src-include="~/dist/vendor*.js"></script>
    <script asp-src-include="~/dist/site*.js"></script>
</body>
</html>
